@model IEnumerable<BookingModel>

@{
    ViewData["Title"] = "Bookings";
}

<section class="booking">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <aside class="aside">
                    <partial name="_SidebarMenuPartial" />
                </aside>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <h2 class="margin-b-sm">My bookings</h2>

                    <div class="col-12">
                        @* Actual bookings *@
                        <div class="row">
                            <h3 class="margin-b-sm">Actual bookings</h3>
                            <div class="col-12">
                                @foreach (var booking in Model)
                                {
                                    if (booking.DateTo >= DateTime.Now && booking.IsActive)
                                    {
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="order">
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            <h4 class="order_hotel-name order_hotel-name_margin-b-sm">@booking.Hotel.HotelName</h4>
                                                        </div>
                                                        <div class="col-1">
                                                            <button id="cancel-modal" class="btn btn-danger">
                                                                Cancel
                                                            </button>
                                                        </div>

                                                        <!-- Modal -->
                                                        <div class="modal hidden" id="confirmationModel">
                                                            <div class="modal-body margin-b-md">
                                                                Do you really want to cancel your booking?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn modal-close">No</button>
                                                                <a class="btn modal-close"
                                                                   asp-controller="Profile"
                                                                   asp-action="CancelBooking"
                                                                   asp-route-bookingId="@booking.BookingId">Yes</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <span class="order__date order__date-margin-b-sm">Book date : <strong>@booking.DateForm.ToString("D") - @booking.DateTo.ToString("D")</strong></span>
                                                    @foreach (var roomBooked in booking.BookedRooms)
                                                    {
                                                        <div class="row margin-b-md">
                                                            <div class="col-12">
                                                                <div class="card">
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <ul class="room__list">
                                                                                <li class="room__list-item">Room number : @roomBooked.Room.RoomNumber</li>
                                                                                <li class="room__list-item">Floor : @roomBooked.Room.Floor</li>
                                                                                <li class="room__list-item">Price : @roomBooked.Room.RoomPrice</li>
                                                                                <li class="room__list-item">Status : @roomBooked.Room.RoomStatus.StatusName</li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="col-md-8">
                                                                            <div class="room__description-body">
                                                                                <h5>Description</h5>
                                                                                <p class="room__description">@roomBooked.Room.Description</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        @* Bookings history *@
                        <div class="row">
                            <h3 class="margin-b-sm">Booking history</h3>
                            <div class="col-12">
                                @foreach (var booking in Model)
                                {
                                    if (booking.DateTo < DateTime.Now || !booking.IsActive)
                                    {
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="order">
                                                    <h4 class="order_hotel-name order_hotel-name_margin-b-sm">@booking.Hotel.HotelName</h4>
                                                    <span class="order__date order__date-margin-b-sm">Book date : <strong>@booking.DateForm.ToString("D") - @booking.DateTo.ToString("D")</strong></span>
                                                    @foreach (var roomBooked in booking.BookedRooms)
                                                    {
                                                        <div class="row margin-b-md">
                                                            <div class="col-12">
                                                                <div class="card">
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <ul class="room__list">
                                                                                <li class="room__list-item">Room number : @roomBooked.Room.RoomNumber</li>
                                                                                <li class="room__list-item">Floor : @roomBooked.Room.Floor</li>
                                                                                <li class="room__list-item">Price : @roomBooked.Room.RoomPrice</li>
                                                                                <li class="room__list-item">Status : @roomBooked.Room.RoomStatus.StatusName</li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="col-md-8">
                                                                            <div class="room__description-body">
                                                                                <h5>Description</h5>
                                                                                <p class="room__description">@roomBooked.Room.Description</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>