@model OwnerHotelDetailsViewModel

@{
    ViewData["Title"] = Model.Hotel.HotelName;
    string photoPath = "~/img/hotel/" + Model.Hotel.PhotoPath;
    string address = $"{Model.Hotel.HotelAddress}, {Model.Hotel.Country.CountryName}, {Model.Hotel.HotelCity}";
    AddRoomViewModel addRoomViewModel = new AddRoomViewModel() { HotelId = Model.Hotel.HotelId };
}

<section class="my-offer-details">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <aside class="aside">
                    <partial name="_SidebarMenuPartial" />
                </aside>
            </div>
            <div class="col-md-9">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row margin-b-sm">
                                <div class="col-md-auto">
                                    <h2>@Model.Hotel.HotelName</h2>
                                </div>
                                <div class="col-md-auto">
                                    <a class="btn" asp-controller="Profile" asp-action="HotelEdit" asp-route-hotelId="@Model.Hotel.HotelId">
                                        Edit hotel
                                    </a>
                                </div>
                            </div>

                            <div class="hotel-details margin-b-md">
                                <span class="hotel-details__address hotel-details__address_margin-b-md"><strong>Address :</strong> @address</span>
                                <div class="hotel-details__image-wrapper margin-b-sm">
                                    <img class="hotel-details__image" src="@photoPath" asp-append-version="true" />
                                </div>
                                <p class="hotel-details__description">@Model.Hotel.HotelDescription</p>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-b-md">
                        <div class="col">
                            <h3>Rooms</h3>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-secondary" id="add-room">
                                Add room
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        @foreach (RoomModel room in Model.Rooms)
                        {
                            <div class="col-12">
                                <div class="card mb-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">Room number : @room.RoomNumber</li>
                                                <li class="list-group-item">Floor : @room.Floor</li>
                                                <li class="list-group-item">Price : @room.RoomPrice</li>
                                                <li class="list-group-item">Status : @room.RoomStatus.StatusName</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-subtitle">Description</h5>
                                                <p class="card-text">@room.Description</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
        </div>

        <partial name="_AddRoomPartial" model="addRoomViewModel">
    </div>
</section>

@section Scripts {
    <script>

        const addRoomBtn = document.getElementById("add-room");


        addRoomBtn.addEventListener("click", function () {
            const modalWindow = document.getElementById("addRoomModal");
            modalWindow.classList.remove("hidden");
            modal.setContent(modalWindow);
            modal.open();
        });

        const addRoomBtns = document.querySelectorAll(".modal-close");
        for (var i = 0; i < addRoomBtns.length; i++) {
            addRoomBtns[i].addEventListener("click", function () {
                modal.close();
            });
        }
    </script>
}