@model HotelModel

@{ 
    string photoPath = "~/img/" + Model.PhotoPath;
    string hotelAddress = $"{Model.HotelAddress}, {Model.HotelCity}, {Model.Country.CountryName}";
    string controller = (string)ViewData["controller"];
    string action = (string)ViewData["action"];
}


<div class="card card_margin-b-md">

    <div class="row">
        <div class="col-md-4">
            <div class="card__image-wrapper">
                <img class="card__image" src="@photoPath" asp-append-version="true" />
            </div>
        </div>
        <div class="col-md-8 d-flex">
            <div class="card__content">
                <div class="card__info">
                    <h2 class="card__title">
                        <a class="card__title-link" asp-controller="@controller" asp-action="@action" asp-route-hotelId="@Model.HotelId">@Model.HotelName</a>
                    </h2>
                    <span class="card__address">@hotelAddress</span>
                    <p class="card__desc">@Model.HotelDescription</p>
                </div>

                <span class="card__email">Owner : @Model.Owner.Email</span>
            </div>
        </div>
    </div>

</div>

@*<div class="card card_margin-b-md">
    <div class="row">
        <div class="col-md-4">
            <img src="@photoPath" class="img-fluid rounded-start" asp-append-version="true" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">
                    <a asp-controller="@controller" asp-action="@action" asp-route-hotelId="@Model.HotelId">@Model.HotelName</a>
                </h2>
                <h6 class="card-subtitle text-muted">@hotelAddress</h6>
                <p class="card-text">@Model.HotelDescription</p>
            </div>
            <div class="row">
                <div class="col-12 text-end">
                    <p class="card-text me-5"><small class="text-muted">@Model.Owner.UserName</small></p>
                </div>
            </div>
        </div>
    </div>
</div>*@